:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #d42f15;
}


body{
  font-family: 'Lato', 'sans-serif' !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  
  
}
.text-title{
  font-family: 'Lato';
}
.text-red{
  color: var(--mainRed);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.intro{
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.index{
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .intro{
    font-size: 1rem;
    margin-left: 1rem;
  margin-right: 1rem;
  }
}